body {
	background-color: #329da8;
	font-family: "Lato", sans-serif;
}

#header {
	font-weight: bolder;
	margin:	0px 10px 10px 10px;
	border: solid;
	background:	#53c0c9 url(images/clashroyale.jfif);
	background-repeat: no-repeat;
	background-position: top right;
	box-shadow:	5px 5px 5px 2px;
}

#footer {
	background-color:	#53c0c9;
	text-align:	center;
	padding:	15px 10px 10px 10px;
	margin-top:	10px;
	font-size:	90%;
	font-weight:	bolder;
	border: solid;
	box-shadow:	5px 5px 5px 2px;
}

img {
	padding:5px 10px 5px 0px
}	

h2 {
	border-bottom: 1px solid black;

}


h1, h2 {
	font-family: cursive;
	font-weight:	bold;
}

.guarantee {
	border-color:	black;
	border-width:	2px;
	border-style:	solid;
	background-color:	#53c0c9;
	color:	black;
	padding:	15px;
	margin:	10px;
	box-shadow: 5px 5px 5px 2px;
}

.list {
	border-color:	black;
	border-width:	2px;
	border-style:	solid;
	margin:	10px;
	padding:	25px;
	background-color:	#53c0c9;
	box-shadow: 5px 5px 5px 2px;
}

.arenas	{
	font-weight:  bolder;
	font-size:	100%
}	

a:link	{
	color: black;
	text-decoration: none;
}

a:visisted	{
	color: white;
	text-decoration: none;
}

#openNav,.backToHome {
	font-size: 180%;
	cursor: pointer;
	color: #bdbdbd;
	text-shadow: 3px 3px 3px black;
	position: fixed;
	top: 30px;
	right: 40px;
	transition: .3s;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 0px 10px 7px 5px;
	border: 1px solid white;
}

.backToHome {
	padding: 3px 10px 5px 5px;
}

#openNav:hover, .backToHome:hover {
	font-size: 200%;
	color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5%;
  background-image: url("images/portal.gif");
  background-repeat: no-repeat;
  background-position: 70% 20%;
  background-size: auto 80%;
}

.sidenav a {
  text-decoration: none;
  font-size: 150%;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-left: 25%;
	margin-right: 25%;
	padding: 10px 0px 20px 30px;
}

.sidenav a:hover {
  color: #f1f1f1;
	transform: translate(5px);
	font-size: 170%;
}

.sidenav .closebtn {
  position: absolute;
  top: 50px;
  left: 90px;
  font-size: 150px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.target{
   visibility: hidden;
   color: white;
   font-size: 150%;
	 padding-left: 10px;
}
.source:hover > .target {
   visibility: visible;
}

nav p {
	color: gray;
	font-weight: bold;
	font-size: 150%;
	position: fixed;
	top: 35%;
	right: 10px;
	width: 280px;
	visibility: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}